MYSQL_DATABASE = nome_do_banco_de_dados_aqui
MYSQL_ROOT_PASSWORD = senha_do_banco_de_dados_aqui
DATABASE_URL = mysql+pymysql://root:suasenha@database:3306/nomedobanco
REDIS_URL = redis://nomedoserviço:6379/0